.splitgrabber {
    display: block;
    width: 16px;
    height: 7px;
    /*background: rgba(255, 255, 255, 0.04);*/
    position: absolute;
    right: 0;
    top: 0;
    /*border-left: 1px solid rgba(0, 0, 0, 0.35);*/
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.2);
    -webkit-font-smoothing: antialiased;
    /*text-indent: 9px;*/
    vertical-align: top;
    line-height: 9px;
    font-family: Courier New;
    text-shadow: 0 1px rgba(0, 0, 0, 0.34);
    font-size: 15px;
    /*box-shadow: 1px 0 rgba(255, 255, 255, 0.03) inset;*/
    cursor: ns-resize;
    pointer-events: all;
    /*border-bottom: 1px solid rgba(0, 0, 0, 1);*/
    text-align: right;
    padding-right: 3px;
    z-index: 100;
}

.splitgrabber:hover{
    
}

.splitgrabber.splitting {
    width : 100%;
    /*text-align : center;*/
}

.ace_split{
    height : 100%;
}

.ace_split .splitter.horizontal:after {
    content: "=";
    text-align: center;
    width: 100%;
    color: rgba(255, 255, 255, 0.23);
    /*background: rgba(255, 255, 255, 0.105);*/
    position: absolute;
    height: 7px;
    line-height: 8px;
    font-size: 15px;
    font-family: Courier New;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.06);
}

.ace_split .splitter.horizontal{
    background: transparent !important;
}